body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(bground.jpg);
    font-family: raleway;
}
.reg {
    margin-top: 110px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.3);
}
input {
    border: 0;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 400px;
}
input:focus {
    border-bottom: 1px solid black;
}
.button {
    border: 1px solid darkblue;
    background: white;
    padding: 10px;
    width: 200px;
    font-size: 15px;
    height: 40px;
    color: darkblue;
    transition: all ease .5s;
}
.button:hover {
    border: 1px solid darkblue;
    background: darkblue;
    cursor: pointer;
    color: white;
}
a {
    text-decoration: none;
    transition: all ease .4s;
}
a:hover {
    color: darkblue;
}