.mini-nav{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.mini-nav a{
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
}
.mini-nav a + a{
    margin-left: 15px;
}
.mini-nav a:hover{
    color: #8cc63f;
}

.container{
    display: flex;
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--navbar-h));
    padding-bottom: 128px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}

.container > div + div{
    display: flex;
    width: 80%;
    margin: 20px 0;
    padding: 30px 0;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}
.container h1 span{
    color: #8cc63f;
}

.container > p{
    display: block;
    width: 60%;
    margin: 0;
    padding: 20px 5%;
    font-size: 20px;
    text-align: left;
}

.container > p + p, .schools .row + .row{
    border-top: 1px solid rgba(255,255,255,0.2);
}

.container .heading{
    position: relative;
    margin: 60px 0 40px 0;
    width: 100%;
    font-size: 3em;
    text-align: center;
    line-height: 70px;
}


.schools{
    display: flex;
    width: 80%;
    margin: 20px 0;
    padding: 60px 0;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}
.schools div{
    display: flex;
    width: 75%;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.schools h2{
    width: auto;
    color: #8cc63f;
    text-align: left;
}
.schools h2 + h2{
    text-align: right;
}